body {
  font-family: Garamond;
}

.header {
  font-style: italic;
}

#menu-table {
  left: 0px;
  background-color: #f2f2f2;
  width: 100%;
  text-align: left;
}

tr:nth-child(even) {
  background-color: gainsboro;
}
tr:nth-child(1) {
  background-color: #5a5a5a;
  border: 2px solid black;
}

.menu-layout {
  text-align: center;
  margin: auto;
  max-width: 740px;
}
